# Ignore node_modules directory
node_modules/
package-lock.json

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore npm debug log
npm-debug.log*

# Ignore yarn error log
yarn-error.log*

# Ignore macOS directory files
.DS_Store

# Ignore editor specific files
.vscode/
.idea/
*.sublime-*